:root {
    --primary:#b6895b;
    --bg:#b6895b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: var(--bg);
    color: #FDF6DA;
    height: 1500px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(255, 245, 227,0.8);
    border-bottom: 1px solid #523d28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1.19rem;
    font-weight: 700;
    color: #7F7158;

}

.navbar .navbar-nav a {
    color: #7F7158;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1.15rem;
}

.navbar .navbar-nav a:hover {
    color: #7F7158;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.0001rem;
    border-bottom: 0.1rem solid #D0B8A8;
    transform: scaleX(0);
    transition: 0.25s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.6);
}

.navbar .navbar-extra a {
    color: #F8EDE3;
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: #D0B8A8;
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    align-items: center;
    background-image: url(../img/Untitled207_20250218101736.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .content {
    padding: 1.4rem 7%;
    
}

.hero .content h1 {
    font-size: 5em;
    color: #FDF6DA;
    line-height: 1;
    text-align: center;
    margin-top: 180px;
}

.hero .content p {
    font-size: 1.35rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 350;
    text-align: center;
}



.hero .content .cta {
    margin-top: 1rem;
    padding: 0.15rem 1.5rem;
    font-size: 1.4rem;
    color:#F8EDE3;
    background-color: #b6895b;
    border-radius: 3rem;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* About Section */
    .about {
        padding: 8rem 7% 1.4rem;
    }

    .about h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #FDF6DA;
    }

    .about .row {
        display: flex;
    }

    .about .row .about-img {
        flex: 1 1 45rem;
    }

    .about .row .about-img img {
        width: 100%;
    }

    .about .row .content {
        flex: 1 1 35rem;
        padding: 0 1rem;
    }

    .about .row .content h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .about .row .content p {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
    }

/* Media Queries */

/* laptop */
@media (max-width:1200px) {
    html {
        font-size: 75%;
    }
}
/* tablet */
@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color:#523d28;
        display: block;
        margin: 1.2rem;
        padding: 0.5rem;
        font-size: 1.8rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}

/* handphone */
@media (max-width:450px) {
    html {
        font-size: 55%;
    }
}